<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .nav {
            display: flex;
            padding-left: 100px;
        }
        nav {margin-left: auto;}
        li {
           display: inline-block;
           margin-right: 20px;
        }
        li a {text-decoration: none; color: black;}
        #fav-blogs {
            padding-left: 100px;
        }
    </style>
</head>

<body>
    <div class="nav">
        <h1 id="logo">Logo</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="/form">Create Blog</a></li>
            </ul>
        </nav>
    </div>
    <h1 id="fav-blogs">Favourite Blogs</h1>

</body>

</html>